footer {
    background-color: $oc-teal-9;
    box-sizing: border-box;
    border-top: solid .3rem rgba($white, .17);
    color: $white;
    font-size: 1.2rem;
    margin: 1rem auto;
    margin-bottom: 0;
    line-height: 1.7rem;
    padding: .7rem;
    position: absolute;
        left: 0;
        bottom: 0;
    text-align: center;
    width: 100%;
}
