.nostyle-btn {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.form-control {
    border: solid .2rem $oc-gray-4;
    box-sizing: border-box;
    padding: 1rem;
    transition: border-color .25s;
}

.search {
    text-align: center;
}
